---
import Button from '../components/Button.tsx';
import ArrowRight from '../components/ArrowRight.tsx';
import Section from '../components/Section.tsx';
import OurTeam from '../components/OurTeam.tsx';
import OurValues from '../components/OurValues.tsx';
import ServicesWeOffer from '../components/ServicesWeOffer.tsx';
import CasesOfSuccess from '../components/CasesOfSuccess.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Upward web'>
  <main class='flex flex-col'>
    <Section>
      <h1 class='font-base text-page-title font-medium'>
        Tu agencia de Desarrollo Digital <span class='text-gradient'
          >a medida</span
        >
      </h1>
      <div
        class='aspect-video relative overflow-hidden h-[256px] border border-white'
      >
        <img
          class='absolute object-cover w-full'
          src='https://images.unsplash.com/photo-1636690513351-0af1763f6237?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
        />
      </div>
      <div class='grid grid-cols-1 tablet:grid-cols-5 gap-4'>
        <div class='grid grid-cols-2 tablet:col-span-2 gap-4'>
          <div>
            <p class='text-primary text-2xl'>420</p><p
              class='text-base text-paragraph'
            >
              Clientes satisfechos
            </p>
          </div>
          <div>
            <p class='text-primary text-2xl'>10+</p><p
              class='text-base text-paragraph'
            >
              Años de experiencia
            </p>
          </div>
        </div>
        <div class='tablet:col-span-3 flex flex-col gap-8 items-end'>
          <p class='text-base text-paragraph'>
            Somos un equipo de jóvenes apasionados por la tecnología y la
            innovación. El futuro llega cada vez más rápido y queremos ser parte
            de ese proceso de transformación. Pero como no queremos hacerlo
            solos, trabajamos para ayudarte a alcanzar el futuro que tu negocio
            esté listo para los nuevos desafíos del mundo digital.
          </p>
          <Button asChild>
            <a href='#servicios'>
              Mirá nuestros servicios <ArrowRight className='size-5' />
            </a>
          </Button>
        </div>
      </div>
    </Section>
    <Section id='nosotros'>
      <h2 class='font-base text-section-title font-medium'>
        <span class='text-gradient'>Nosotros</span>
      </h2>
      <h3 class='text-section-subtitle'>Nuestro Equipo</h3>
      <OurTeam />
      <h3 class='text-section-subtitle'>Nuestros Valores</h3>
      <OurValues />
    </Section>
    <Section id='servicios'>
      <h2 class='font-base text-section-title font-medium'>
        <span class='text-gradient'>¿Qué servicios ofrecemos?</span>
      </h2>
      <ServicesWeOffer />
    </Section>
    <Section id='casos-de-exito'>
      <h2 class='font-base text-section-title font-medium'>
        <span class='text-gradient'>Casos de éxito</span>
      </h2>
      <CasesOfSuccess />
    </Section>
    <Section id='contacto'>
      <h2 class='font-base text-section-title font-medium'>
        <span class='text-gradient'>Contacto</span>
      </h2>
    </Section>
  </main>
  <style>
    main {
      /* margin: auto; */
      /* width: 800px; */
      /* max-width: calc(100% - 8rem); */
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
