---
import Button from '../components/Button.tsx';
import ArrowRight from '../components/ArrowRight.tsx';
import Section from '../components/Section.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Upward web'>
  <main class='flex flex-col'>
    <Section>
      <h1 class='font-base text-page-title font-medium'>
        Tu agencia de Desarrollo Digital <span class='text-gradient'
          >a medida</span
        >
      </h1>
      <p class='text-base'>
        Somos un equipo de jóvenes apasionados por la tecnología y la
        innovación. El futuro llega cada vez más rápido y queremos ser parte de
        ese proceso de transformación. Pero como no queremos hacerlo solos,
        trabajamos para ayudarte a alcanzar el futuro que tu negocio esté listo
        para los nuevos desafíos del mundo digital.
      </p>
      <Button asChild>
        <a href='#'>
          Mirá nuestros servicios <ArrowRight className='size-5' />
        </a>
      </Button>
    </Section>
    <Section>
      <h2 class='font-base text-section-title font-medium'>
        <span class='text-gradient'>Nosotros</span>
      </h2>
      <h3 class='text-section-subtitle'>Nuestro Equipo</h3>
      <h3 class='text-section-subtitle'>Nuestros Valores</h3>
    </Section>
    <Section>
      <h2 class='font-base text-section-title font-medium'>
        <span class='text-gradient'>Servicios</span>
      </h2>
    </Section>
    <Section>
      <h2 class='font-base text-section-title font-medium'>
        <span class='text-gradient'>Casos de éxito</span>
      </h2>
    </Section>
  </main>
  <style>
    main {
      /* margin: auto; */
      /* width: 800px; */
      /* max-width: calc(100% - 8rem); */
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
