---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.tsx';
---

<Layout title='Upward web'>
  <NavBar />
  <main>
    <h1 class='font-base text-page-title'>
      Tu agencia de Desarrollo Digital <span class='text-gradient'
        >a medida</span
      >
    </h1>
  </main>
  <style>
    main {
      margin: auto;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
